name: Security CI Pipeline
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  security_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install security tools
        run: |
          pip install bandit checkov trufflehog

      - name: Run Bandit Scan
        run: bandit -r . -ll -f json -o Bandit-report.json || true

      - name: Run Checkov Scan
        run: checkov -d . -o json > checkov-report.json || true

      - name: Install Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh
          chmod +x trivy
          mv trivy /usr/local/bin/
      - name: Build Docker image for Trivy
        run: docker build -t demo-app:latest . || true
      - name: Run Trivy Scan
        run: trivy image demo-app:latest --format json --output trivy-report.json || true

      - name: Run TruffleHog Scan
        run: trufflehog git . --json > trufflehog-report.json || true

      - name: Upload Security Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: security-reports
          path: |
            Bandit-report.json
            checkov-report.json
            trivy-report.json
            trufflehog-report.json
