name: CI
on: [push]

jobs:
  sast_scan:
    name: Run Bandit Scan (Medium & High)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit (Medium & High only)
        run: bandit -r . -ll -f json -o Bandit-report.json

      - name: Upload Bandit Report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: bandit-findings
          path: Bandit-report.json


